<h1>Edit Task</h1>

<%= form_with(model: @task, url: update_task_path(@task), method: :patch) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :details %>
  <%= form.text_area :details %>

  <%= form.submit "Update Task" %>
<% end %>